<div class="map">
  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="defaultZoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map>
</div>
<div class="contact">
  <div class="contact-picture">
    <img class="contact-img" src="/assets/poczekalnia.jpg">
  </div>
  <div class="data">
    <h2>
      KONTAKT
    </h2>
    <h3>
      Dębina
    </h3>
    <h4>
      Krościenko Wyżne ***
      +48 111 111 111
    </h4>
    <h3>
      Godziny otwarcia
    </h3>
    <h4>
      <ul>
        Poniedziałek
      </ul>
      <ul>
        Wtorek
      </ul>
      <ul>
        Środa
      </ul>
      <ul>
        Czwartek
      </ul>
      <ul>
        Piątek
      </ul>
    </h4>
  </div>
</div>
