<app-parallax></app-parallax>
<div class="main">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed urna magna. Donec efficitur leo a nisl dapibus accumsan. Donec vehicula, erat id aliquam auctor, nisi erat porttitor leo, nec fringilla nisi arcu in odio. Maecenas posuere auctor ligula, ut egestas urna. Duis cursus cursus urna, a ultrices turpis fringilla sit amet. Vestibulum nec nulla vehicula, viverra nulla in, consequat tellus. Aliquam maximus est in pulvinar ornare. Nam finibus lorem vitae sodales rutrum. Proin et gravida nisi, vitae faucibus justo.

    Morbi quis justo libero. Nam id nisi nec urna efficitur consectetur. Maecenas placerat at nibh a accumsan. Nam odio risus, eleifend id libero non, condimentum tempor ante. Aliquam eu ante euismod, sollicitudin sapien sit amet, tincidunt tellus. Pellentesque maximus lectus a velit vestibulum pretium. Suspendisse at consectetur libero.

    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam et tortor in nunc volutpat rutrum. Duis lacinia orci vel augue pharetra, vel eleifend turpis efficitur. Morbi lectus ex, iaculis sed bibendum eget, condimentum quis ipsum. Cras est sem, egestas a viverra nec, tincidunt sit amet purus. Nunc commodo ligula a est tincidunt, vel porttitor purus posuere. Mauris fermentum, urna nec lobortis interdum, ipsum nunc placerat dolor, at finibus nulla felis in risus. Sed vulputate nisl sit amet elementum fermentum. Duis in accumsan metus, sed convallis justo. Praesent blandit enim non velit ultricies laoreet. Nulla dictum dapibus risus sed ornare. Aenean rhoncus nisl in velit blandit convallis. Mauris sed dignissim lacus, eget tincidunt dolor. In neque diam, consequat vitae ultricies at, imperdiet vel est. Donec non imperdiet magna, a commodo leo. Nullam a orci eget tellus lacinia mollis.

    Ut eleifend imperdiet mauris. Maecenas pellentesque tortor quam, at viverra ligula mattis non. Donec dapibus posuere lacus at euismod. Nam vehicula massa id dui pretium commodo. Duis non vulputate quam, in suscipit sem. Vivamus vel molestie justo. Suspendisse condimentum eros ut ex luctus scelerisque. Donec et dolor arcu. Sed lacinia neque feugiat nibh dictum, in tempus massa consequat. Fusce congue dictum mauris in venenatis.

    Suspendisse potenti. Donec non pulvinar velit, non fringilla lorem. Ut magna sapien, laoreet eget erat a, lobortis ullamcorper felis. Morbi ac quam dictum, egestas justo eget, gravida magna. Quisque maximus viverra turpis, cursus aliquet nulla consectetur sit amet. Curabitur aliquam velit vel ipsum cursus varius a in nisl. Nullam vel dolor at arcu interdum maximus et eget quam. In pulvinar viverra tempor. Pellentesque tempus congue ex ac interdum. Sed accumsan placerat purus, non feugiat magna consectetur sit amet. Praesent ultricies, mauris id dapibus tempor, nisl erat interdum elit, ac cursus felis massa in lorem. Nam posuere sollicitudin leo ac dignissim. Proin a arcu ullamcorper leo commodo molestie sed at nisi.
  </p>

  <p class="main-center">
    Zakres usług
  </p>

  <div class="main-img">
    <a routerLink="/Kardiologia">
      <img class="main-img-kardio main-img-img" src="/assets/kardio.jpg">
    </a>
    <a class="main-center"
       routerLink="/Kardiologia">
      Kardiologia
    </a>
  </div>
  <div class="main-img">
    <a routerLink="/Stomatologia">
      <img class="main-img-dent main-img-img" src="/assets/dent.jpg">
    </a>
    <a class="main-center"
       routerLink="/Stomatologia">
      Stomatologia
    </a>
  </div>
</div>
